.services-page,
.services-container {
  display: flex;
}

.services-page {
  flex-direction: column;
  margin: 1.5rem;
}

.services-tittle {
  margin: 0 auto;
  margin-top: 1.25rem;
  font-size: 50px;
}

.services-container {
  justify-content: space-around;
  margin-bottom: 9.4rem;
}

.services-text {
  font-size: 36px;
  margin-bottom: 1.9rem;
}

@media (max-width: 968px) {
  .services-container {
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
  }
}